<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Quote History Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <a href="homepage.html">Home</a>
            <a href="/profile-page">Profile Page</a>
            <a href="fuelQuoteHistory">Fuel Quote History</a>
            <a href="fuelQuoteForm.html">Fuel Quote Form</a>
        </nav>
    </header>
    <div id="fuelQuoteHistoryPage">
        <h2 class="histHeader">
            Fuel Quote History
        </h2>
        <table id="quoteHistoryTable" border="1">
       
                <tr>
                    <th>Name</th>
                    <th>Gallons Requested</th>
                    <th>Delivery Address</th>
                    <th>Delivery Date</th>
                    <th>Suggested Price/Gallon</th>
                    <th>Total Amount Due</th>
                </tr>
    
                {% for quote in fuelQuoteHistory %}
         
                <tr>
                    <td>{{ quote.Name }}</td>
                    <td>{{ quote['Gallons Requested'] }}</td>
                    <td>{{ quote['Delivery Address'] }}</td>
                    <td>{{ quote['Delivery Date'] }}</td>
                    <td>{{ quote['Suggested Price/Gallon'] }}</td>
                    <td>{{ quote['Total Amount Due'] }}</td>
                </tr>
                {% endfor %}
            
        </table>
    </div>

</body>

</html>