<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Quote History Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <a href="homepage.html">Home</a>
            <a href="profilePage.html">Profile Page</a>
            <a href="fuelQuoteHistory.html">Fuel Quote History</a>
            <a href="fuelQuoteForm.html">Fuel Quote Form</a>
        </nav>
    </header>
    <div id="fuelQuoteHistoryPage">
        <h2 class="histHeader">
            Fuel Quote History
        </h2>
        <table id="quoteHistoryTable" border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gallons Requested</th>
                    <th>Delivery Address</th>
                    <th>Delivery Date</th>
                    <th>Suggested Price/Gallon</th>
                    <th>Total Amount Due</th>
                </tr>
            </thead>
            <tbody>
                <!-- Quote history rows -->
                <tr>
                    <td>John Doe</td>
                    <td>100</td>
                    <td>123 Lane</td>
                    <td>3/1/24</td>
                    <td>$4.00</td>
                    <td>$400</td>
                </tr>
                <tr>
                    <td>Jane Doe</td>
                    <td>200</td>
                    <td>123 Main St</td>
                    <td>3/23/24</td>
                    <td>$4.00</td>
                    <td>$200</td>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>100</td>
                    <td>123 Lane</td>
                    <td>3/1/24</td>
                    <td>$4.00</td>
                    <td>$400</td>
                </tr>
                <tr>
                    <td>Jane Doe</td>
                    <td>200</td>
                    <td>123 Main St</td>
                    <td>3/23/24</td>
                    <td>$4.00</td>
                    <td>$200</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>