<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Quote History Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <a href="/home">Home</a>
            <a href="/profile-page">Profile Page</a>
            <a href="/history-page">Fuel Quote History</a>
            <a href="/quote-page">Fuel Quote Form</a>
        </nav>
    </header>
    <div id="fuelQuoteHistoryPage">
        <h2 class="histHeader">
            Fuel Quote History
        </h2>
        <table id="quoteHistoryTable" border="1">
            <thead>
                <tr>
                    <th>Gallons Requested</th>
                    <th>Delivery Address</th>
                    <th>Delivery Date</th>
                    <th>Suggested Price/Gallon</th>
                    <th>Total Amount Due</th>
                </tr>
            </thead>
            <tbody>
                {% for quote in fuel_quote_history %}
         
                <tr>
                    <td>{{ quote['GallonsRequested'] }}</td>
                    <td>{{ quote['DeliveryAddress'] }}</td>
                    <td>{{ quote['DeliveryDate'] }}</td>
                    <td>{{ quote['PricePerGallon'] }}</td>
                    <td>{{ quote['TotalAmountDue'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>